<div class="container-fluid flex-column w-75 bg-light" *ngIf="employee">
    <form #editEmployeeForm="ngForm" (ngSubmit)="onUpdateEmployee(employee)" *ngIf="employee.id">
        <div class="col-md-6 mb-3 mt-2">
            <label for="name">Imię</label>
            <input type="text" id="name" class="form-control" placeholder="Imię" required [(ngModel)]="employee.name"
                name="name">
        </div>
        <div class="col-md-6 mb-3 mt-2">
            <label for="name">Nazwisko</label>
            <input type="text" id="surname" class="form-control" placeholder="Nazwisko" required
                [(ngModel)]="employee.surname " name="surname">
        </div>
        <div class="col-md-6 mb-3">
            <label for="birth">Data urodzenia</label>
            <input type="date" class="form-control" id="birth" required [(ngModel)]="employee.dateOfBirth"
                name="dateOfBirth">
        </div>
        <div class="col-md-6 mb-3">
            <label for="adress">Adres</label>
            <input class="form-control" id="adress" placeholder="Adres" required [(ngModel)]="employee.adress"
                name="adress">
        </div>
        <div class="col-md-6 mb-3">
            <label for="phone">Numer telefonu</label>
            <input class="form-control" id="numberPhone" placeholder="Numer telefonu" required
                [(ngModel)]="employee.numberPhone" name="numberPhone">
        </div>
        <div class=" col-md-6 mb-3">
            <label for="employment">Data zatrudnienia</label>
            <input type="date" class="form-control" id="employment" required [(ngModel)]="employee.dateOfEmployment"
                name="dateOfEmployment">
        </div>
        <div class="col-md-6 mb-3">
            <label for="contract">Stanowisko</label>
            <select class="form-select" id="contract" aria-label="Floating label select example" required
                [(ngModel)]="employee.contract" placeholder="Wybierz stanowisko:" name="contract">
                <option *ngFor="let contract of contracts" value="{{contract.contractName}}"> {{contract.contractName}}
                </option>
            </select>
        </div>
        <div class="d-grid gap-2 d-md-flex">
            <button type="submit" class="btn btn-success btn-sm" [disabled]="!editEmployeeForm.valid">Zapisz</button>
        </div>
    </form>
</div>